:root {
    --color-primary: #437a79;
    --color-secondary: #7D9D9C;
    --color-light: #E4DCCF;
    --color-lighter: #F0EBE3;
    --color-heading: #2c3435;
    --color-body: #667677;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */
html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans', 'Noto Sans TC', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1,
h2,
h3 {
    color: var(--color-heading);
    margin-bottom: 1rem;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

/* Links */
a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: '→';
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 768px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Buttons */
.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem;
    padding: 1rem 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: transform 0.2s ease-out;
    white-space: nowrap;
}

.btn:hover {
    background: #e0e0e0;
    transform: scale(1.05);
}

.btn--primary {
    background: var(--color-primary);
    color: #fff;
}

.btn--primary:hover {
    background: #8eadac;
    transform: scale(1.05);
}

.btn--secondary {
    background: var(--color-secondary);
    color: #fff;
}

.btn--secondary:hover {
    background: #8eadac;
    transform: scale(1.05);
}