:root {
    --color-primary: #437a79;
    --color-secondary: #7D9D9C;
    --color-light: #E4DCCF;
    --color-lighter: #F0EBE3;
    --color-heading: #2c3435;
    --color-body: #667677;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */
html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans', 'Noto Sans TC', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1,
h2,
h3 {
    color: var(--color-heading);
    margin-bottom: 1rem;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

/* Links */
a {
    text-decoration: none;
    /* color: var(--color-light); */
}

.link-arrow {
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: '→';
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 768px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Buttons */
.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 1rem 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: transform 0.2s ease-out;
    white-space: nowrap;
}

.btn:hover {
    background: #e0e0e0;
    transform: scale(1.05);
}

.btn--primary {
    background: var(--color-primary);
    color: #fff;
}

.btn--primary:hover {
    background: #8eadac;
    transform: scale(1.05);
}

.btn--secondary {
    background: var(--color-secondary);
    color: #fff;
}

.btn--secondary:hover {
    background: #8eadac;
    transform: scale(1.05);
}

.btn--block {
    width: 100%;
    display: inline-block;
}

/* Inputs */
.input {
    outline: 0;
    border: 2px solid var(--color-heading);
    color: var(--color-heading);
    background-color: rgba(0, 0, 0, 0.1);
}

.text-input {
    font-family: sans-serif;
    letter-spacing: 0.5px;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    margin-top: 0.2rem;
}

.input--wrong {
    border-color: red;
}

.text-input::placeholder {
    color: var(--color-primary);
    opacity: 0.5;
}

.text-input::selection {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}

.text-input--block {
    width: 100%;
}

.input__label {
    display: block;
    margin-top: 1.5rem;
}

.input__label:first-of-type {
    margin-top: 0;
}

/* Checkboxes */

.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    --checkbox-size: 2rem;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
}

.checkbox {
    position: absolute;
    cursor: pointer;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    opacity: 0;
    /* opacity: 0; */
    /* -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; */
}

.checkbox__bg {
    position: absolute;
    display: inline-block;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    border: 2px solid var(--color-heading);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.checkbox__caption {
    position: relative;
    /* left: calc(-1 * var(--checkbox-size)); */
    padding-left: 0.5rem;
}

/* When the checkbox is hovered, darken background */
.checkbox:hover ~ .checkbox__bg {
    background-color: rgba(0, 0, 0, 0.2);
}

.checkbox__mark {
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    display: none;
    position: absolute;
}

/* When the checkbox is checked, show the check mark */
.checkbox:checked ~ .checkbox__mark {
    display: block;
}

.checkbox-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: 2rem;
    margin: 2rem 0 1rem;
}


/* Grids */
.grid {
    display: grid;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Icons */
.icon {
    font-size: 4rem;
}

.icon-container {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: #dddddd;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Collapsibles */
.collapsible__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.collapsible__toggler {
    position: relative;
}

.collapsible__bar {
    position: absolute;
    transition: all 0.5s;
}

.collapsible__chevron {
    position: absolute;
    transition: all 0.5s;
    opacity: 0;
}

.collapsible--expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
}

.collapsible--expanded .collapsible__bar {
    transform: rotate(90deg);
    opacity: 0;
}

.collapsible--expanded .collapsible__chevron {
    opacity: 1;
    transform: rotate(90deg);
}

/* Lists */
.list {
    list-style: none;
    margin: 0;
}

.list__item {
    margin: 1rem 2rem;
}

/* Navigation Bar */
.nav {
    background: #000;
    color: var(--color-light);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 8rem;
}

.nav__header {
    padding: 0rem 2rem;
}

.nav__heading {
    font-size: 4rem;
    position: relative;
    top: 0.8rem;
    color: var(--color-light);
}

.nav__content {
    width: 100%;
}

.nav__item {
    color: var(--color-light);
    cursor: pointer;
    border-bottom: 1px solid rgb(44, 44, 44);
}

.nav__item:hover {
    color: #fff;
}

.nav__item .btn {
    background: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.nav .collapsible__toggler {
    background-color: inherit;
    margin: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .nav .collapsible__toggler {
        display: none;
    }

    .nav__content {
        width: auto;
        display: flex;
    }

    .nav__item {
        align-self: center;
        border: 0;
    }

    .collapsible__content{
        max-height: 100vh;
        opacity: 1;
    }
}

/* Containers */
.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* Blocks */
.block {
    text-align: center;
}

.block {
    --padding-vertical: 4rem;
    padding: var(--padding-vertical) 4rem;
}

.block--dark {
    background: #000;
    color: var(--color-light);
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
    color: var(--color-lighter);
}

.block--skewed-left {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    padding-bottom: calc(var(--padding-vertical) + 8rem);
}

.block--skewed-right {
    padding-bottom: calc(var(--padding-vertical) + 8rem);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

/* Heros */
.hero__image {
    width: 100%;
    margin: 3rem 0;
}

.hero__header h1 {
    margin-top: 2rem;
    line-height: 1.2;
}

.hero__header h3 {
    line-height: 1.3;
    letter-spacing: 1.5px;
    padding: 0 3rem;
}

.hero__btn {
    margin: 3rem 0;
}

@media screen and (min-width: 768px) {
    .hero {
        text-align: left;
    }

    .hero__image {
        padding-left: 2.5rem;
    }

    .hero__header h3 {
        padding: 0;
    }
}

/* Forms */
.form {
    text-align: left;
    padding: 3rem;
    border: 2px solid grey;
    border-radius: 30px;
    background: rgba(125, 125, 125, 0.1);
    overflow: hidden;
}

.form .text-input--block {
    max-width: 400px;
}

/* Error Messages */
.err-msg {
    font-size: 1.25rem;
    color: red;
}