:root {
    --color-primary: #437a79;
    --color-secondary: #7D9D9C;
    --color-light: #E4DCCF;
    --color-lighter: #f5f2ee;
    --color-heading: #2c3435;
    --color-body: #667677;
    --color-accent: #5f4f33;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */
html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans', 'Noto Sans TC', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1,
h2,
h3 {
    color: var(--color-heading);
    margin-bottom: 1rem;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (max-width: 400px) {
    body {
        font-size: 1.9rem;
    }
    
    h1,
    h2,
    h3 {
        color: var(--color-heading);
        margin-bottom: 0.5rem;
    }
    
    h1 {
        font-size: 5.5rem;
    }
    
    h2 {
        font-size: 3.5rem;
    }
    
    h3 {
        font-size: 2.5rem;
    }
}

/* Links */
a {
    text-decoration: none;
    display: block;
    /* color: var(--color-light); */
}

.link-arrow {
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}

.link-arrow::after {
    content: '→';
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover,
.link-arrow:hover::after {
    color: var(--color-secondary);
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 768px) {
    .link-arrow {
        font-size: 1.25rem;
    }
}

/* Buttons */
.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 1rem 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: transform 0.2s ease-out;
    white-space: nowrap;
}

@media screen and (max-width: 400px) {
    .btn {
        font-size: 1.5rem;
    }
}

.btn:hover {
    background: #e0e0e0;
    transform: scale(1.05);
}

.btn--primary {
    background: var(--color-primary);
    color: #fff;
}

.btn--primary:hover {
    background: #8eadac;
    transform: scale(1.05);
}

.btn--secondary {
    background: var(--color-secondary);
    color: #fff;
}

.btn--secondary:hover {
    background: #8eadac;
    transform: scale(1.05);
}

.btn--block {
    width: 100%;
    display: inline-block;
}

/* Inputs */
.input {
    outline: 0;
    border: 2px solid var(--color-body);
    color: var(--color-heading);
    background-color: rgba(0, 0, 0, 0.1);
}

.text-input {
    font-family: sans-serif;
    letter-spacing: 0.5px;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    margin-top: 0.2rem;
    color: var(--color-heading);
}

@media screen and (max-width: 350px) {
    .text-input {
        font-size: 1.2rem;
    }
}

.text-input--phone {
    width: 30rem;
}

.input--wrong {
    border-color: red;
}

.text-input::placeholder {
    color: var(--color-primary);
    opacity: 0.5;
}

.text-input::selection {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}

.text-input--block {
    width: 100%;
}

.input__label {
    display: block;
    margin-top: 1.5rem;
}

.input__label:first-of-type {
    margin-top: 0;
}

/* Checkboxes */

.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    --checkbox-size: 1.8rem;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
}

.checkbox {
    position: absolute;
    cursor: pointer;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    opacity: 0;
    /* opacity: 0; */
    /* -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; */
}

.checkbox__bg {
    position: absolute;
    display: inline-block;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    border: 2px solid var(--color-heading);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.checkbox__caption {
    position: relative;
    /* left: calc(-1 * var(--checkbox-size)); */
    padding-left: 0.5rem;
}

/* When the checkbox is hovered, darken background */
.checkbox:hover ~ .checkbox__bg {
    background-color: rgba(0, 0, 0, 0.2);
}

.checkbox__mark {
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    display: none;
    position: absolute;
}

/* When the checkbox is checked, show the check mark */
.checkbox:checked ~ .checkbox__mark {
    display: block;
}

.checkbox-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
}


/* Grids */
.grid {
    display: grid;
    align-items: center;
    justify-items: left;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid--spread {
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

/* Icons */
.icon {
    font-size: 4rem;
}

.icon-container {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: #dddddd;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Collapsibles */
.collapsible__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.collapsible__toggler {
    position: relative;
}

.collapsible__bar {
    position: absolute;
    transition: all 0.5s;
}

.collapsible__chevron {
    position: absolute;
    transition: all 0.5s;
    opacity: 0;
}

.collapsible--expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
}

.collapsible--expanded .collapsible__bar {
    transform: rotate(90deg);
    opacity: 0;
}

.collapsible--expanded .collapsible__chevron {
    opacity: 1;
    transform: rotate(90deg);
}

/* Lists */
ul {
    list-style: none;
    margin: 0;
    padding-left: 1rem;
}

.list__item {
    margin: 1rem 2rem;
}

/* Navigation Bar */
.nav {
    background: #000;
    color: var(--color-light);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 7rem;
    font-size: 2.4rem;
    align-items: center;
}

.nav__header {
    padding: 0rem 2rem;
}

.nav__heading {
    font-size: 3rem;
    letter-spacing: -1px;
    /* position: relative;
    top: 1.8rem; */
    color: var(--color-light);
    line-height: 0;
}

.nav__heading:hover {
    color: #fff;
}

.nav__content {
    width: 100%;
}

.nav__item {
    color: var(--color-light);
    cursor: pointer;
    border-bottom: 1px solid rgb(44, 44, 44);
    margin: 1rem 1.5rem;
    transition: transform 0.15s ease-in-out;
}

.nav__item:last-of-type {
    margin-right: 2.25rem;
}

.nav__item:hover {
    color: #fff;
    transform: scale(1.05);
}

.nav__item a {
    background: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
    word-spacing: 0.5px;
    font-size: 1.75rem;
}

.nav__item__icon {
    /* display: none; */
    display: block;
    position: absolute;
    opacity: 0;
    transition: opacity 0s;
}

.nav__item__title {
    position: relative;
    opacity: 1;
    transition: opacity 0.5s;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .nav__item__icon {
        display: block;
        position: relative;
        opacity: 1;
        transition: opacity 0.5s;
        font-size: 3rem;
    }

    .nav__item__title {
        position: absolute;
        opacity: 0;
        transition: opacity 0s;
    }
}

.nav .collapsible__toggler {
    background-color: inherit;
    margin: 0.5rem 1rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .nav .collapsible__toggler {
        display: none;
    }

    .nav__content {
        width: auto;
        display: flex;
    }

    .nav__item {
        align-self: center;
        border: 0;
    }

    .collapsible__content{
        max-height: 100vh;
        opacity: 1;
    }
}

/* Containers */
.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* Blocks */
.block {
    text-align: center;
}

.block {
    --padding-vertical: 4rem;
    padding: var(--padding-vertical) 2rem;
}

.block--dark {
    background: #000;
    color: var(--color-light);
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
    color: var(--color-lighter);
}

.block--skewed-left {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-right {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    padding-bottom: calc(var(--padding-vertical) + 4rem);
}

@media screen and (min-width: 768px) {
    .block--skewed-left {
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        padding-bottom: calc(var(--padding-vertical) + 8rem);
    }
    
    .block--skewed-right {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
        padding-bottom: calc(var(--padding-vertical) + 8rem);
    }
}

/* Heros */
.hero__image {
    width: 100%;
    margin: 3rem 0;
}

.hero__header h1 {
    margin-top: 2rem;
    line-height: 1.2;
}

.hero__header h3 {
    line-height: 1.3;
    letter-spacing: 1.5px;
    padding: 0 3rem;
}

.hero__btn {
    margin: 3rem 0;
}

@media screen and (min-width: 768px) {
    .hero {
        text-align: left;
    }

    .hero__image {
        padding-left: 2.5rem;
    }

    .hero__header h3 {
        padding: 0;
    }
}

/* Forms */
.form {
    text-align: left;
    padding: 2rem;
    border: 2px solid var(--color-body);
    border-radius: 30px;
    background: rgb(231, 224, 231);
    overflow: hidden;
}

.form .text-input--block {
    max-width: 400px;
}

@media screen and (min-width: 768px) {
    .form {
        padding: 3rem;
    }
}

/* Error Messages */
.err-msg {
    font-size: 1.25rem;
    color: red;
}

/* Tables */
td,
th {
    padding: 0.5rem 0.75rem;
    border: 1px solid black;
}

td {
    line-height: 1.2;
    vertical-align: top;
}

/* Cards */
.card {
    max-width: 450px;
    margin: 1rem;
    overflow-wrap: break-word;
    /* word-break: break-all; */
    hyphens: auto;
}

.card__header {
    background-color: var(--color-primary);
    color: #fff;
    font-size: 1.8rem;
    padding: 1.5rem;
    border-radius: 5px 5px 0 0;
    letter-spacing: -0.3px;
}

.card__heading {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.card__body {
    background-color: var(--color-lighter);
    color: var(--color-accent);
    font-size: 1.4rem;
    padding: 1.5rem;
    border-radius: 0 0 5px 5px;
    overflow: auto;
}

.card__keypoint {
    font-size: 1.6rem;
    font-weight: 600;
}

.card__table,
.card__list {
    padding: 1rem 0;
}

.card__table {
    border-collapse: separate;
    border-spacing: 15px 0;
    max-width: 400px;
}

.card__table thead th,
.card__table tfoot th {
    border-width: 0 0 1px 0;
    border-color: #cab99b;
    line-height: 1;
    font-weight: 600;
    vertical-align: bottom;
}

.card__table td {
    border: 0;
}

.card__table thead th,
.card__table td {
    min-width: 5rem;
    max-width: 15rem;
    word-wrap: break-word;
    hyphens: auto;
}

.card__table tfoot th {
    border-width: 1px 0 0 0;
    vertical-align: bottom;
    /* text-align: center; */
}



@media screen and (min-width: 1024px) {
    .card {
        margin: 2rem;
    }
}

@media screen and (max-width: 350px) {
    .card__table thead th,
    .card__table td {
        min-width: 30px;
        max-width: 100px;
    }

    .card__table {
        max-width: 250px;
    }
}

/* Prices in tables */
.price {
    text-align: right;
}

/* Items */
.food {
    overflow: auto;
    font-size: 1.6rem;
    height: 8rem;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: .5rem;
    line-height: 1;
    display: grid;
    grid: "name   qty" 1fr
          "price  qty" 1.8rem
          /1fr 5rem;
    row-gap: 3px;
    letter-spacing: -0.5px;
}

.food__name {
    grid-area: name;
    color: var(--color-heading);
}

.food__price {
    grid-area: price;
}

.food__qty {
    grid-area: qty;
    display: flex;
    flex-direction: column;
    justify-self: right;
    justify-content: space-evenly;
    margin-right: 5px;
}

.food__btn {
    cursor: pointer;
    background-color: var(--color-primary);
    color: white;
}

.food__btn--updown {
    padding: 0;
    border-radius: 50%;
    border: 0;
    font-weight: 700;
    line-height: 0;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    /* vertical-align: center; */
    text-align: center;
}

.food__btn:hover {
    background-color: var(--color-secondary);
}

.food__qty-string {
    display: inline-block;
    font-weight: 600;
    font-size: 2rem;
}