<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/styles/common.css">
</head>
<body>
    <form action="/authen" method="POST" >
        <input type="text" name="username" id="username" minlength="3" maxlength="55" placeholder="username" required/>
        <div></div>
        <input type="password" name="password" id="password" maxlength="32" placeholder="password" required />
        <div></div>
        <button class="outmost_button" type="submit">Login</button>
    </form>
    <form action="/users/new" method="GET" >
        <button class="outmost_button" type="submit">I don't have an account</button>
    </form>
    <form action="/" method="GET">
        <button class="outmost_button" type="submit">Home</button>
    </form>
    <% if (locals.query.errMsgs) { for (var i = 1; i <
        locals.query.errMsgs.length; i++) { %>
        <div>
          <p>*<% if (locals.query.errMsgs[i].includes('name') && locals.query.errMsgs[i].includes('password')) { %>
                Incorrect username or password
            <% } else if (locals.query.errMsgs[i].includes('name') && locals.query.errMsgs[i].includes('pattern')) { %>
              Username does not allow special characters
            <% } else if (locals.query.errMsgs[i].includes('password') && locals.query.errMsgs[i].includes('pattern')) { %>
              Password does not allow special characters
            <% } else  { %>
              <%= locals.query.errMsgs[i] %>
            <% } %> 
          </p>
        </div>
    <% } } %>
</body>
</html>