<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Dishes</th>
          <th>Prices</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < locals.dishes.length; i++) { %>
        <tr>
          <td><%= locals.dishes[i].name %></td>
          <td>$<%= locals.dishes[i].price %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
