.MenuName {
    font-style: italic;
    font-size: 30px;
    font-weight: 900;
}

.MenuContainer {
    margin: 50px;
    padding: 10px;
    border: 5px solid black;
}

.MenuContainer.unticked {
    margin: 50px;
    padding: 10px;
    border: 5px solid black;
}

.MenuContainer table, .MenuContainer td, .MenuContainer th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 5px;
}

.MenuContainer.ticked {
    margin: 50px;
    padding: 10px;
    border: 5px solid red;
}

.PositiveQty {
    background-color: aquamarine;
}

.ZeroQty {
    background-color: inherit;
}